.about-us {
    position: relative;
    z-index: 1;
    height: 1050px;
    .bolt {
        position: absolute;
        z-index: 9;
       img {
        width: 680px;
        height: 1000px;
        
       }
    }
    .quality {
        width: 916px;
        height: 130px;
        color: #000000;
        font-size: 64px;
        font-weight: 400;
        position: relative;
        left: 10em;
        top: 5em;
    }
    .dev {
        width: 385px;
        height: 85px;
        background:#FF1A1A;
        color: #000000;
        font-size: 64px;
        font-weight: 400;
        position: relative;
        left: 10em;
        top: 5em;
    }
    .market {
        width: 595px;
        height: 100px;
        background:#FF1A1A;
        color: #000000;
        font-size: 64px;
        font-weight: 400;
        position: relative;
        left: 11em;
        top: 5em;
    }
    .bout-us {
        width: 700px;
        height: 120px;
        position: relative;
        color: #000000;
        font-size: 96px;
        left: 3em;
        top: 5em;
        z-index: 999;
        text-transform: uppercase;
    }
    .our-story {
        width: 475px;
        height: 240px;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: 19em;
        left: 33em;
    }
    .tech {
        width: 475px;
        height: 140px;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: 7em;
        left: 60em;
    }
}