.first, .second {
    width: 90%;
    height: 2px;
    background: black;
    display: inline-block;
    position: relative;
    left: 5em;
}

.third {
    width: 47%;
    height: 2px;
    background: black;
    display: inline-block;
    position: relative;
    left: 55em;
    bottom: 14em;
}

